@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.show-products{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    transition: all 500ms;
}
.hide-products{
    opacity: 0;
    filter: blur(15px);
    transform: translateY(20%);
    transition: all 500ms;
}
.show-product{
    opacity: 1;
    filter: blur(0px);
    transition: all 500ms;
}
.hide-product{
    opacity: 0;
    filter: blur(15px);
    transition: all 500ms;
}


.general-title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.categories-title-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.product-title-font{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.desc-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
